.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
    text-align: center;
}

.footer .copyright {
    text-align: center;
    color: #012970;
    padding-top: 5px;
}

.footer .credits {
    text-align: center;
    font-size: 13px;
    color: #012970;
}